<div class="left-pane">
    <ng-content select="kro-avatar"></ng-content>
    <div class="realname">{{ realname }}</div>
    <div class="username">{{ username }}</div>
</div>
<md-menu #menu="mdMenu">
    <button *ngFor="let navEl of navigation" md-menu-item [routerLink]="navEl.route" routerLinkActive="true">
        <md-icon>{{navEl.icon}}</md-icon>
        <span>{{navEl.title}}</span>
    </button>
</md-menu>
<button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>keyboard_arrow_down</md-icon></button>
