<div class="centerize-wrapper">
  <md-card class="example-card" color="primary">
    <md-card-title>Sign In</md-card-title>
    <md-card-subtitle>kontainer.io</md-card-subtitle>
    <md-card-content>
      <md-input-container>
        <input md-input placeholder="E-Mail">
      </md-input-container>
      <md-input-container>
        <input type="password" md-input placeholder="Password">
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button color="primary" md-raised-button>SIGN IN</button>
    </md-card-actions>
  </md-card>
</div>