@import '~@angular/material/core/theming/palette';

.example-card {
    width: 400px;
}

md-card-title, md-card-subtitle {
    text-align: center;
}

md-input-container {
    width: 100%;
}

.centerize-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: map-get($mat-red, 500);
}