{
    "RootfsPath": "/var/lib/kontainerooo/images",
    "CustomerPath": "/var/lib/kontainerooo/customers",
    "NetNSPath": "/var/go/bin/netns",
    "StandardPathVariable": "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
}
