@import '../../kontainer-io-material';

:host, md-sidenav-container {
    height: 100%;
    font-family: $mat-font-family;

    md-sidenav {
        width: 250px;

        md-list-item {
            cursor: pointer;

            &:hover {
                background-color: mat-color($primary, lighter);
            }

            md-icon {
                &[md-list-avatar] {
                    height: auto !important;
                }
            }
        }
    }
}