<kro-gateway>
  <form [formGroup]="form">
    <md-card>
      <md-card-title>Sign In</md-card-title>
      <md-card-subtitle>kontainer.ooo</md-card-subtitle>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Username" formControlName="username">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password" type="password" formControlName="password">
        </md-input-container>
      </md-card-content>
      <md-card-actions align="end">
        <button color="primary" md-raised-button (click)="onSubmit()">SIGN IN</button>
      </md-card-actions>
    </md-card>
  </form>
</kro-gateway>
