<kro-gateway>
  <md-card>
    <md-card-title>Sign In</md-card-title>
    <md-card-subtitle>kontainer.ooo</md-card-subtitle>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="E-Mail">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" type="password">
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button color="primary" md-raised-button routerLink="/dashboard" routerLinkActive="true">SIGN IN</button>
    </md-card-actions>
  </md-card>
</kro-gateway>
