/* You can add global styles to this file, and also import other style files */

@import 'kontainer-io-material';


html, body, material-app, app-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}